<style>
  .check{
    color: red;
  }
</style>
<form method="POST" name = "formAccount" enctype="multipart/form-data"
>
    <div class="card">
        <div class="card-header">
    
        </div>
        <div class="card-body">
            <div class="panel panel-collapse">

            
            <div class="row">
              <div class="col-sm c">
                <img  ng-src="{{'https://firebasestorage.googleapis.com/v0/b/uploadimagesjava6.appspot.com/o/'+form.image+ '?alt=media&token=155d6665-5e02-42e7-9b7b-f22eb82799fa'}}"
                style="display: block; max-width: 200px; max-height: 200px; width: 200px; height: 200px; border-radius: 100%; margin-left: 350px; "
                alt=""
               >

            <div class="form-group ">
              <input type="file"  class="hidden" onchange="angular.element(this).scope().imageChangeAccount(this.files)" id="photo" multiple>
              <label for="photo" class="btn btn-outline btn-danger" >Select file</label>
          
              <button class="btn btn-outline btn-primary" onclick="angular.element(this).scope().uploadImageAccount()">upload</button>
            </div>
            </div>
            <div  style="text-align: center;align-items: center; margin-left: 130px;">
                <div class="col-sm"> 
                    <div class="row">      
                        <div class="form-group col-sm-5">
                            <label for="">Username</label>
                            <input type="text"  ng-model="form.username"  class="form-control" minlength="5" placeholder="Username" aria-describedby="helpId">
                            <span ng-show="formAccount.txtusername.$invalid" id="helpId" class="check">Username cần hơn 5 kí tự</span>
                          </div>
                          <div class="form-group col-sm-5">
                            <label for="">Password</label>
                            <input type="password"  ng-model="form.password" name="txtpassword" class="form-control" minlength="6" placeholder="Password" aria-describedby="helpId">
                            <span ng-show="formAccount.txtpassword.$invalid" id="helpId" class="check">Password cần hơn 6 kí tự</span>
                          </div>

                        </div>
                </div>
                <div class="col-sm">
                    <div class="row">
                        <div class="form-group col-sm-5">
                          <label for="">Name</label>
                          <input type="text"  ng-model="form.name" class="form-control" name = "txtname" minlength="3" placeholder="Name" aria-describedby="helpId">
                          <span ng-show="formAccount.txtname.$invalid" id="helpId" class="check">Hãy nhập đúng họ và tên của bạn</span>
                        </div>
                   
                        <div class="form-group col-sm-5">
                            <label for="">Email</label>
                            <input type="email" name = "txtemail" ng-model="form.email" class="form-control"  placeholder="Email" aria-describedby="helpId">
                            <span ng-show="formAccount.txtemail.$invalid" id="helpId" class="check">Hãy nhập đúng Email của bạn</span>
                          </div>
                        </div>
                
                </div>
              </div>
        </div>
    </div>
    </div>
</form>